version: '3'
services:
#  mongodb:
#    image: mongo:latest
#    container_name: mongodb
#    ports:
#      - "27117:27017"
#    volumes:
#      - ./data/mongodb_data:/data/db
#      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: admin
#      MONGO_INITDB_ROOT_PASSWORD: ajbear1969
#    restart: always

  client:
    image: production-anslysis-dashboard
    ports:
      - "8000:8000"
    command: node server.js
    restart: always
#    network_mode: host